//#1867c0
$PRIMARY_COLOR = #5682a3
$BACK_COLOR = rgb(231, 235, 240)

$FONT_FAMILY = Tahoma, sans-serif, Arial, Helvetica;

::-webkit-scrollbar
  width 1px
  height 1px
  background-color #D3DCE6
::-webkit-scrollbar-button
::-webkit-scrollbar-track
  display none
::-webkit-scrollbar-thumb
  background-color #7d7d7d
::-webkit-scrollbar-thumb:hover
  background-color #525252

#app
  height 100vh
  width 100%
  background: $BACK_COLOR
  color #000
  display flex
  justify-content center
  font-family $FONT_FAMILY

#main-page
  background #fff
  max-width 1010px;
  min-width 300px;
  width 100%
  height 100%

#header
  width 100%
  height 48px
  box-sizing border-box
  font-size 14px
  line-height 16px
  padding 15px 0 0 60px
  color #fff 
  background $PRIMARY_COLOR

#contacts
  float left
  width 31%
  height calc(100% - 48px)
  border 1px solid rgb(233, 235, 237)
  box-sizing border-box

#chat
  float left
  width 69%
  height calc(100% - 48px)

.avatar
    float left
    height 48px
    width 48px
    border-radius 50%

.contact
  float left
  width 100%
  padding 18px
  background #fff
  font-size 14px
  box-sizing border-box
  cursor pointer 
  &:hover
    background #f2f6fa
  &.active
    background $PRIMARY_COLOR
    color #fff
  p
    float left  
    font-weight bold
    margin 10px 0 0 20px

.empty
  display flex
  height calc(100% - 48px)
  justify-content center
  align-items center
  color #999
  font-size 16px
  line-height 18px

.message
  float left
  width 100%
  box-sizing border-box
  padding 20px
  p
    float left
    font-size 14px
    margin 10px 0 0 20px






